html,
body {
    color: #212121;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
}

h2 {
    color: #5865f2;
    font-size: 2rem;
    margin-top: 0.25em;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

.main {
    display: flex;
    justify-content: space-between;
}

#add-note {
    box-shadow: 0 0 3px #7c7c7c;
    padding: 20px;
    width: 20%;
    z-index: 1;
}

#add-note input,
#add-note textarea {
    border: 1px solid #5865f2;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    font-size: 15px;
    margin-bottom: 1rem;
    padding: 10px;
    width: 100%;
}

#add-note textarea {
    resize: vertical;
}

#add-note input[type='file'] {
    border-style: dashed;
    cursor: pointer;
}

#add-note input[type='color'] {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

#add-note button {
    background-color: #5865f2;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    width: 100%;
}

#add-note button:hover {
    background-color: #4752c7;
}

.notes-area {
    width: 80%;
}

/*** NOTES STYLES ***/

.notes-area .note {
    background-color: #fff;
    border-top: 5px solid var(--note-color);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--note-color);
    padding: 15px;
    max-width: 300px;
}

.notes-area .note-icon {
    background-color: #fcfcfc;
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.notes-area .note-title {
    font-size: 1.3rem;
    margin: 15px 0;
}

.notes-area p {
    color: #4e4e4e;
    margin: 0;
}

/* Dragged note styles */

.dragged-note {
    opacity: 0.5;
}

/* CANVAS BUTTONS STYLES */

.notes-area .zoom-buttons {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    -webkit-user-select: none;
    user-select: none;
}

.notes-area .zoom-buttons button {
    background: white;
    border: 1px solid #4752c7;
    border-radius: 5px;
    color: #4752c7;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    margin: 0 2px;
    padding: 5px 15px;
    vertical-align: middle;
}

.notes-area .zoom-buttons button:hover {
    background-color: #4752c7;
    color: #f2f2f2;
}

.notes-area .zoom-buttons #reset-position-button {
    cursor: default;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.notes-area .zoom-buttons #reset-position-button.active {
    cursor: pointer;
    opacity: 1;
}

.notes-area .zoom-buttons #reset-zoom-button {
    font-size: 20px;
    padding: 8px 15px;
}

/* CANVAS STYLES */

.notes-area .canvas-container {
    background-color: #fcfcfc;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.notes-area .canvas-container #canvas {
    box-shadow: 0 0 3px #7c7c7c;
    height: 3500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1750px;
    margin-left: -3000px;
    width: 6000px;
}

.notes-area .canvas-container #canvas-grid-layer {
    --grid-color: rgba(0, 0, 0, 0.12);
    --grid-size: 60px;

    --sub-grid-color: rgba(0, 0, 0, 0.07);
    --sub-grid-size: 12px;

    background: repeating-linear-gradient(
            0deg,
            transparent 0px,
            transparent calc(var(--grid-size) - 1px),
            var(--grid-color) calc(var(--grid-size) - 1px),
            var(--grid-color) var(--grid-size)
        ),
        repeating-linear-gradient(
            0deg,
            transparent 0px,
            transparent calc(var(--sub-grid-size) - 1px),
            var(--sub-grid-color) calc(var(--sub-grid-size) - 1px),
            var(--sub-grid-color) var(--sub-grid-size)
        ),
        repeating-linear-gradient(
            90deg,
            transparent 0px,
            transparent calc(var(--grid-size) - 1px),
            var(--grid-color) calc(var(--grid-size) - 1px),
            var(--grid-color) var(--grid-size)
        ),
        repeating-linear-gradient(
            90deg,
            transparent 0px,
            transparent calc(var(--sub-grid-size) - 1px),
            var(--sub-grid-color) calc(var(--sub-grid-size) - 1px),
            var(--sub-grid-color) var(--sub-grid-size)
        );
    height: 3500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1750px;
    margin-left: -3000px;
    width: 6000px;
}
