#add-note {
    box-shadow: 0 0 3px #7c7c7c;
    padding: 20px;
    position: relative;
    width: 20%;
    z-index: 1;
}

#add-note input,
#add-note textarea {
    border: 1px solid #5865f2;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    font-size: 15px;
    margin-bottom: 1rem;
    padding: 10px;
    width: 100%;
}

#add-note textarea {
    resize: vertical;
}

#add-note input[type='file'] {
    border-style: dashed;
    cursor: pointer;
}

#add-note input[type='color'] {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

#add-note button {
    background-color: #5865f2;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    width: 100%;
}

#add-note button:hover {
    background-color: #4752c7;
}

/*** RESIZE BAR STYLES ***/

#resize-bar {
    cursor: col-resize;
    position: absolute;
    right: -3px;
    top: 0;
    width: 6px;
    height: 100%;
}

/*** NOTES AREA STYLES ***/

/* NOTES STYLES */

.notes-area .note {
    background-color: #fff;
    border-top: 5px solid var(--note-color);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--note-color);
    padding: 15px;
    max-width: 300px;
}

.notes-area .note-icon {
    background-color: #fcfcfc;
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.notes-area .note-title {
    font-size: 1.3rem;
    margin: 15px 0;
}

.notes-area p {
    color: #4e4e4e;
    margin: 0;
}

/* Dragged note styles */

.dragged-note {
    opacity: 0.5;
}
