.canvas-buttons {
    display: flex;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
}

.canvas-buttons button {
    background: white;
    border: none;
    border-radius: 5px;
    color: #212121;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding: 12px 15px;
    transition: all 0.1s ease-out;
}

.canvas-buttons button:hover {
    background-color: rgba(88, 101, 242, 0.3);
    color: rgb(71, 82, 199);
}

.buttons-container {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 2px #7c7c7c;
    padding: 3px;
    margin-left: 10px;
    display: flex;
}
