.form-section {
    margin-bottom: 30px;
    padding: 0px 20px;
}

.form-section h3 {
    border-bottom: 1px solid #f2f2f2;
    font-size: 1em;
    margin-bottom: 20px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
}

.form-section h3 span {
    margin-left: 5px;
}
