* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
button {
    color: #212121;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
}

h2 {
    color: #5865f2;
    font-size: 2rem;
    margin-top: 0.25em;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}
